/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofle.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    // Schematic nets row0 through row3.
    row-gpios
        = <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 30 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;

    // Schematic nets col0 through col5.
    col-gpios
        = <&gpio0 29 GPIO_ACTIVE_HIGH>
        , <&gpio0 2 GPIO_ACTIVE_HIGH>
        , <&gpio1 13 GPIO_ACTIVE_HIGH>
        , <&gpio0 28 GPIO_ACTIVE_HIGH>
        , <&gpio0 3 GPIO_ACTIVE_HIGH>
        , <&gpio1 11 GPIO_ACTIVE_HIGH>
        ;
};

// Trackpad I2C pins: SCL=P0.20, SDA=P0.17.
&i2c0_default {
    group1 {
        psels = <NRF_PSEL(TWIM_SCL, 0, 20)>,
                <NRF_PSEL(TWIM_SDA, 0, 17)>;
    };
};

&i2c0_sleep {
    group1 {
        psels = <NRF_PSEL(TWIM_SCL, 0, 20)>,
                <NRF_PSEL(TWIM_SDA, 0, 17)>;
    };
};

/ {
    chosen {
      zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };
};

&tps43_split {
    status = "okay";
    device = <&tps43>;
};


&pro_micro_i2c {
    status = "okay";
};

&oled {
    status = "disabled";
};

&tps43 {
    status = "okay";

    rst-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
    rdy-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;

    /*
     * Potentially non-exhaustive list of configuration options.
     * See: dts/bindings/input/azoteq,tps43-common.yaml for a full list.
     */
    single-tap;
    press-and-hold;
    hold-time = <250>;
    two-finger-tap;

    scroll;
    invert-scroll-y;
    swipes;
    zoom;
    enable-power-management;

    sensitivity = <100>;
    scroll-sensitivity = <30>;
    zoom-sensitivity = <50>;
    filter-settings = <0x0B>;

    switch-xy;
};
