/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofle.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 8 GPIO_ACTIVE_HIGH>
        , <&pro_micro 7 GPIO_ACTIVE_HIGH>
        , <&pro_micro 9 GPIO_ACTIVE_HIGH>
        , <&pro_micro 5 GPIO_ACTIVE_HIGH>
        , <&pro_micro 4 GPIO_ACTIVE_HIGH>
        ;
};

/ {
    chosen {
      zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };
};

&tps43_split {
    status = "okay";
    device = <&tps43>;
};


&pro_micro_i2c {
    status = "okay";
};

&tps43 {
    status = "okay";

    rst-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
    rdy-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;

    /*
     * Potentially non-exhaustive list of configuration options.
     * See: dts/bindings/input/azoteq,tps43-common.yaml for a full list.
     */
    single-tap;
    press-and-hold;
    hold-time = <250>;
    two-finger-tap;

    scroll;
    invert-scroll-y;
    swipes;
    zoom;
    enable-power-management;

    sensitivity = <100>;
    scroll-sensitivity = <50>;
    zoom-sensitivity = <50>;
    filter-settings = <0x0B>;

    switch-xy;
};
